/***************** Custom Columns for Responsiveness *******************/
@media screen and (max-width: 1024px) {
    .col_1 {width: 8.33%;}
    .col_2 {width: 16.66%;}
    .col_3 {width: 25%;}
    .col_4 {width: 33.33%;}
    .col_5 {width: 41.66%;}
    .col_6 {width: 50%;}
    .col_7 {width: 58.33%;}
    .col_8 {width: 66.66%;}
    .col_9 {width: 75%;}
    .col_10 {width: 83.33%;}
    .col_11 {width: 91.66%;}
    .col_12 {width: 100%;}
}
/************************* Laptop/Tablet View **************************/
@media screen and (max-width: 1198px) {
/*========= Hero Image =============*/
    .hero_image {
        height: 500px !important;
    }
    
    .hero_image_h {
        font-size: 3em !important;
        margin-top: 25px;
    }
/*========== Grid Demo Section ======*/
    .grid_demo_info_btn_container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    
    .grid_demo_info_row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    
/*========= App Info Section =========*/
    .app_info_container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    
    .app_info_text {
        margin-top: 0 !important;
    }
/*========= Info Display Section ========*/
    .info_display_img_container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    
    .info_display_text_h {
        text-align: center;
    }
/*========== Industry Info Section ============*/
    .industry_info_container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
/*============= Why SureFit Section =============*/
    .w_sfit_info {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
/*============= How it Works Section =============*/
    .how_it_works_container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    
    .how_it_works_display_info_btn {
        position: relative;
        top: 15px;
    }
/*============= About Us Section =============*/
    .about_us_info_image {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        float: right;
    }
    
    .about_us_info_img {
        position: relative;
        bottom: 5px;
        width: 250px;
        height: 150px;
    }
/*============= Footer Section =============*/
    .footer_info {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: space-between;
    }
}


/************************* Tablet/Mobile View **************************/
@media screen and (max-width: 990px) {
 /*========= Hero Image =============*/
    .hero_image {
        height: 400px !important;
    }
    
    .hero_image_action_btn {
        width: 295px !important;
    }
/*========== Grid Demo Section ======*/
    .grid_demo_display_image {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 500px;
        margin: auto;
    }
    
    .grid_demo_info_row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
/*============= How it Works Section =============*/
    .how_it_works_section {
        height: 1200px !important;
    }
    .how_it_works_container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    
    .how_it_works_display {
        margin: auto;
        width: 500px;
    }
    
    .how_it_works_display_info {
        width: 100%;
    }
/*============= About Us Section =============*/
    .about_us_info_image {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        float: right;
    }
    
    .about_us_info_img {
        position: relative;
        bottom: 15px;
        width: 250px;
        height: 150px;
    }

}

@media screen and (max-width: 768px) {
    
}

@media screen and (max-width: 500px) {
    /*========= Hero Image =============*/
    .hero_image {
        height: 300px !important;
    }
    
    .hero_image_h {
    }
/*========== Grid Demo Section ======*/
    .grid_demo_info_btn_container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    
    .grid_demo_info_row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    
/*========= App Info Section =========*/
    .app_info_container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    
    .app_info_text {
        margin-top: 0 !important;
    }
/*========= Info Display Section ========*/
    .info_display_img_container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    
    .info_display_text_h {
        text-align: center;
    }
/*========== Industry Info Section ============*/
    .industry_info_container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
/*============= Why SureFit Section =============*/
    .w_sfit_info {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
/*============= How it Works Section =============*/
    .google_play_btn {
        height: px;
    }
    .how_it_works_container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
/*============= About Us Section =============*/
    .about_us_info_image {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        float: right;
    }
    
    .about_us_info_img {
        position: relative;
        bottom: 95px;
        width: 350px;
        height: 250px;
    }
/*============= Footer Section =============*/
    .footer_info {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}

}

































