.carousel {
	margin-bottom: 0;
	padding: 0 40px 30px 40px; 
}

.carousel_padding {
    
}

.carousel_margin {
    margin-top: 30px;
}

.carousel_image {
    border-radius: 6px;
}

/* Custom Arrow */
.prev {
  color: #999;
  font-size: 1.5em;
  position: absolute;
  top: 68%;
  left: 19%;
}

.prev :hover {
  cursor: pointer;
  color: black;
}

.next {
  color: #999;
  font-size: 1.5em;
  position: absolute;
  top: 68%;
  right: 19%;
}

.next :hover {
  cursor: pointer;
  color: black;
}

/*** Carousel Media Queries For Responsiveness ***/
@media screen and (max-width: 992px) {
    /*** Outfit Carousel ***/
  .next {
    display: none !important;
  }
    .prev {
        display: none !important;
    }
    /*** Clothing Carousel ***/
     .clothing_arrow_prev {
    display: none !important;
  }
    .clothing_arrow_prev {
        display: none !important;
    }
    
    /*** Brands Carousel ***/
    .brands_arrow_prev {
    display: none !important;
  }
    .brands_arrow_prev {
        display: none !important;
    }
    
}



