.carousel {
	margin-bottom: 0;
	padding: 0 40px 30px 40px; 
}

.carousel_padding {
    
}

.carousel_margin {
    margin-top: 30px;
}

.carousel_image {
    border-radius: 6px;
}

/* Custom Arrow */
.prev {
  color: #999;
  font-size: 1.5em;
  position: absolute;
  top: 68%;
  left: 19%;
}

.prev :hover {
  cursor: pointer;
  color: black;
}

.next {
  color: #999;
  font-size: 1.5em;
  position: absolute;
  top: 68%;
  right: 19%;
}

.next :hover {
  cursor: pointer;
  color: black;
}

@media screen and (max-width: 800px) {
  .next {
    display: none !important;
  }
}

/*** Outfit Carousel ***/

